header {
  margin: 2rem;
  position: relative;
}
.page-title {
  margin: 0;
}

.page-description {
  color: #777;
  line-height: 1.6;
  font-size: 16px;
  max-width: 740px;

  .special {
    font-style: italic;
  }
}

.navigation{
  width: 100%;
  margin: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: flex-start;
}

.label {
  font-weight: bold;
  margin-right: 1em;
}
.radio-group {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: left;
  flex: 0 1 44%;

  li {
    margin: 0 2em 0 0.5em;
    font-size: 16px;
    line-height: 1.6;
    list-style: none;
    margin-bottom: 4px;
  }
  label {
    margin-left: 0.5em;
  }
}

.help-text {
  background: #fff;//linear-gradient(#f6f6f6 60%,#fff);
  border-radius: 4px;
  position: absolute;
  color: #666;
  font-size: 14px;
  flex: 0 1 40%;
  padding: 0em 2em;
  line-height: 1.4;
  margin-top: -1em;
  max-width: 500px;

  span {
    font-style: italic;
  }
}

.help-text:before {
  content: '';
  display: block;
  position: absolute;
  background-color: transparent;
  left: -16px;
  top: 50%;
  margin-top: -16px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 16px solid #fff;
}

.help-text:after {
  content: '';
  display: block;
  position: absolute;
  background: white;
  width: 90%;
  bottom: 7px;
  height: 50px;
  z-index: -1;
  left: 5%;
  box-shadow: 0 8px 24px rgba(0,0,0,0.35);
}