circle {
  fill: hsla(0,0%,42%,1);
}

.show-all circle,
.show-participants circle,
.show-non-participants circle,
.compare-all circle {
  transition: fill .6s ease;
}

.show-participants .yes-local-stories,
.show-participants .yes-newscasts, {
  fill: hsla(118,78%,47%,1);
}

.show-participants .no-local-stories.no-newscasts {
  fill: hsla(0,0%,70%,0);
  pointer-events:  none;
}

.show-non-participants .yes-local-stories,
.show-non-participants .yes-newscasts {
  fill: hsla(0,0%,70%,0);
  pointer-events:  none;
}

.show-non-participants circle {
  fill: hsla(0,0%,42%,1);
}

.compare-all .yes-local-stories,
.compare-all .yes-newscasts {
  fill: hsla(118,78%,47%,1);
}

.compare-all .no-local-stories,
.compare-all .no-newscasts {
  fill: hsla(0,0%,70%,1);
}

.participant.active {
  stroke: hsla(118,78%,20%,1);
  fill: hsla(118,78%,30%,1);
  stroke-width: 4;
  mix-blend-mode: normal;
}

.nonparticipant.active {
  stroke: hsla(354, 100%, 26%, 1);
  fill: hsla(354, 100%, 46%, 1);
  stroke-width: 4;
  mix-blend-mode: normal;
  opacity: 0.85;
}